@import "tailwindcss";

@theme {
  --font-sans: "Manrope", sans-serif;
  --color-background: #0a0514;
  --color-primary: #8b5cf6;
  --color-accent: #c084fc;
}

/* 1. Прячем скроллбар (лечит зависания мыши на ПК) */
::-webkit-scrollbar {
  display: none !important;
}

html, body {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
  background-color: #060608 !important;
  
  /* 2. ОСТАВЛЯЕМ идеальный аппаратный скролл для телефонов */
  -webkit-overflow-scrolling: touch !important; 
}

/* 3. Лекарство от бага 3-го клика (аппаратное GPU-ускорение без блокировки мыши) */
#root {
  transform: translateZ(0);
}