@import "tailwindcss";

@theme {
  --font-sans: "Manrope", sans-serif;

  --color-background: #0a0514;
  --color-primary: #8b5cf6;
  --color-accent: #c084fc;
}

/* === Прячем системный скроллбар БЕЗ багов зависания === */
::-webkit-scrollbar {
  display: none; /* Только так! Никаких width: 0px */
}

/* Для Firefox и IE/Edge */
html, body {
  -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: none;     /* Firefox */
}

/* Идеальный фон для слияния с сайтом */
html, body {
  background-color: #09090B;
}