@import "tailwindcss";

@theme {
  --font-sans: "Manrope", sans-serif;

  --color-background: #0a0514;
  --color-primary: #8b5cf6;
  --color-accent: #c084fc;
}

/* === Прячем системный скроллбар глобально НАДЕЖНЫМ способом === */
::-webkit-scrollbar {
  display: none; /* Это не ломает перерисовку кадров в отличие от width: 0px */
}

/* === ФУНДАМЕНТ САЙТА === */
html, body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #09090B;
  
  /* Жестко восстанавливаем скролл */
  overflow-y: auto; 
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; /* Возвращает плавный скролл на iPhone/iPad */
}

#root {
  background-color: #09090B;
}